@font-face {
	font-family: Source Sans Pro;
	src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url(http://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdo.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
